In [1]:
import numpy as np
import pandas as pd

In [2]:
iris=pd.read_csv("iris.csv")

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [7]:
X=iris.values[:,0:4]
Y=iris.values[:,4]

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [10]:
knn3=KNeighborsClassifier(n_neighbors=3,metric='l1')
knn3.fit(X_train,y_train)

KNeighborsClassifier(metric='l1', n_neighbors=3)

In [11]:
knn3.kneighbors(X_test,return_distance=True)

(array([[0.5, 0.5, 0.7],
        [1.3, 1.4, 1.4],
        [0.5, 0.5, 0.5],
        [0.2, 0.3, 0.4],
        [0.2, 0.3, 0.5],
        [0.2, 0.4, 0.5],
        [0.2, 0.3, 0.3],
        [0.3, 0.4, 0.4],
        [0.4, 0.6, 0.8],
        [0.5, 0.6, 0.6],
        [0.5, 0.5, 0.5],
        [0.9, 0.9, 1.1],
        [0.3, 0.5, 0.6],
        [0.2, 0.4, 0.6],
        [0.4, 0.5, 0.5],
        [0.4, 0.5, 0.5],
        [0.5, 0.6, 0.7],
        [0.5, 0.6, 0.7],
        [0.5, 0.8, 0.8],
        [0.2, 0.3, 0.3],
        [0.5, 0.5, 0.6],
        [0.7, 0.7, 1.2],
        [0.5, 0.7, 0.8],
        [0.4, 0.5, 0.5],
        [0.6, 0.6, 0.9],
        [0.5, 0.6, 0.6],
        [0.6, 0.6, 0.6],
        [0.5, 0.6, 0.6],
        [0.2, 0.7, 0.7],
        [0.2, 0.6, 0.7]]),
 array([[ 26,  98,  40],
        [ 25,  16,  85],
        [ 96,   0,  48],
        [108,  91, 118],
        [ 46,  88,  82],
        [ 53,  65,  27],
        [ 89, 104,  28],
        [ 71, 119,   4],
        [ 32,  58,  10],
        [ 39,  29,  77],
        [101,  99,  43],
        [ 58,  32,  17],
        [ 36,  52,  75],
        [ 68,  98,  74],
        [ 30,  78,  88],
        [ 45,  99,  43],
        [ 74,  81,  98],
        [ 35,  22,  92],
        [ 60,  14,   1],
        [ 32,  84,  97],
        [ 62, 113,  94],
        [ 15, 109,  59],
        [115, 101,  18],
        [ 30,  78,  82],
        [113,  62,  56],
        [119,  96,  89],
        [ 18,  48,   0],
        [ 56, 113,  62],
        [ 16, 118, 100],
        [ 82,  88,  46]], dtype=int64))

In [12]:
y_pred_knn3=knn3.predict(X_test)
y_pred_knn3

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor'],
      dtype=object)

In [13]:
accuracy_score(y_test,y_pred_knn3)*100

93.33333333333333

In [14]:
iris_pred_knn3=pd.DataFrame(y_pred_knn3)
iris_pred_knn3.to_csv("iris pred knn3.csv")

In [16]:
from sklearn.preprocessing import normalize

X_norm=normalize(X,norm='max')
X_norm=pd.DataFrame(X_norm)
X_norm.head()

     0         1         2         3
0  1.0  0.686275  0.274510  0.039216
1  1.0  0.612245  0.285714  0.040816
2  1.0  0.680851  0.276596  0.042553
3  1.0  0.673913  0.326087  0.043478
4  1.0  0.720000  0.280000  0.040000